/* Portfolio CSS */
h1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 45pt;
}
body{
    background-color: #000;
}
hr{
    color: white;
}
.row{
   width: 70%;
   border-style: solid;
   border-color: white;
   background-image: url("W2pk0wk.jpg");
   /* background-image: url("uIF7XAe.jpg"); */
}
.row:hover{
    box-shadow: 5px 5px 10px white;
   
    
}
.col-md-1{
    display: inline-block;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    height: 210px;
    width: 290px;
    margin-top: 25px;
    margin-right: 35px;
    margin-bottom: 65px;
    color: white;
    font-size: 12pt;
 font-family: 'Raleway', sans-serif;

}
#portfolio-images{
    margin-top: 10px;
    padding: 0%;
    margin: auto;
    display: block;
}
.col-md-1:hover {
    opacity: 0.65;
    cursor: pointer;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.code-links{
    border-style: solid;
    border-color: black;;
    height: 150px;
    width: 200px;
}